.catsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 180px);
  width: 100%;
  box-sizing: border-box;
}

.divider {
  width: 2px;
  height: 95%;
  border-left: 2px dashed #000;
}

.divider::before {
  content: "";
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, #000 25%, rgba(0, 0, 0, 0) 25%);
  background-size: 2px 8px;
}

@media screen and (max-width: 768px) {
  .catsContainer {
    flex-direction: column;
    align-items: center;
  }

  .divider {
    display: none;
  }
}
